/* GENERAL */
html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    width: 90%;
    justify-content: center;
    margin: auto;
    font-family:'ralewaythin';
}

/* FONT */
@font-face {
    font-family: 'ralewaythin';
    src: url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('font/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
    text-decoration: none;
    list-style-type: none;
}

/* HEADER*/

.logo_has {
    display: flex;
    justify-content: space-between;

}

.logo_container {
    margin-top: 2%;
}

.has {
   width: 500px;
   display: flex;
   font-size: 1rem;
   font-weight: 900;
   
}

.lienspuces, .subscribe {
    display: flex;
}

.lienspuces:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    font-family: #0065FC;
}

.liste1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.has a {
    padding: 40px 30px 0px 30px;
}


.subscribe {
    color: #0065FC;
}

h1 {
    margin-bottom: 0%;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: 55%;
    
}

.container_filter {
    align-items: center;
    justify-content: space-around;
    height: 52px;
    border-top: #e4e1e1 2px solid;
    border-bottom: #e4e1e1 2px solid;
    border-right: #e4e1e1 2px solid;
    border-radius: 50px;
    margin: 1.5% 3% 1.5% 0;
}


.icon_container_filter {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: #e4e1e1 2px transparent;
    border-radius: 50px;
    background-color: #deebff;
    
}

.filter a {
    margin: 10px;
}

.filter li {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    height: 52px;
}

.information_container {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
}

.icon_container_i {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    color: #0065FC;
    
}

/* SECTION HEBERGEMENTS */

.hebergements_a_marseille {
    background: #CCC;
    width: 70%;
    margin-right: 0%;
}

.vignette {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 50% 50%;
}


.vignette img {
    width: 97%;
    height: 60%;
}








