/* GENERAL */

body {
    margin: 0;
}

* {
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway, sans-serif;
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

.padding {
    padding: 0 3rem;
}

/* MODIFICATION SUR ENSEMBLE */

h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
}

a {
    color: #000;
}

.rate {
    display: flex;
    justify-content: space-between;
    width: 5.3rem;
}
.rate i {
    color: #0065FC;
    margin: 0;
    font-size: 0.875rem;
}

.rate .grey {
    color: #c9c7c7
}

.lodging_card:hover, .popular_card:hover, .activities_card:hover {
    box-shadow: rgb(139, 130, 130) 0 0 5px;
}

.container_filter,.icon_container_filter,.lodging_card,.popular_card,.activities_card {
    transition:0.5s
}

.weight {
    font-weight: 700;
}

.price {
    font-size: 0.93rem;
}

/* HEADER*/

/* BARRE DE NAVIGATION EN HAUT */

.logo_has {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
}

.logo_has a:not(:first-child) {
    padding: 2.5rem 2rem 0 2rem;
    align-items: center;
}

.logo_container {
    margin-top: 1.9rem;
    display: flex;
    width: 100%;
}

.lodging_nav   {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.activities_nav, .subscribe_nav {
    border-top: 3px solid #ffffff;
}

.activities_nav:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

.subscribe_nav {
    color: #0065FC;
    font-weight: 800;
}
/* TEXTE SOUS LA BARRE DE NAVIGATION */

.trouvez {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.enplein {
    font-size: 1.1rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    font-weight: 500;
}

/* BARRE DE RECHERCHE */

.searchbar {
    display: flex;
    margin-bottom: 6px;
    height: 3.25rem;
}

.icon_container_map {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    padding:0.5rem 1rem;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
    font-size: 1.2rem;
}

.search_form {
    border: none;
    border-top: 1px solid #e4e1e1;
    border-bottom: 1px solid #e4e1e1;
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
    padding-left: 1.25rem;
}

.search_button {
    border: 0;
    border-radius: 0 1rem 1rem 0;
    background-color: #0065FC;
    font-family: Raleway;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0 0.75rem;
}

.search_logo {
    display: none;
}

input::placeholder {
    color: #000;
    font-weight: 700;
}

input[type="search"] {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

/* FILTRES */

.filter_bar {
    display: flex;
}

.title_filter {
    padding-top: 1.3rem;
    font-size: 1.3rem;
    margin-right: 2rem;
    padding: 1.3rem 0 0 1rem;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.container_filter {
    display: flex;
    align-items: center;
    margin-right: 1.9rem;
    margin-bottom: 0.2rem;
    height: 2.75rem;
    border-top: #c9c7c7 2px solid;
    border-bottom: #c9c7c7 2px solid;
    border-right: #c9c7c7 2px solid;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0.625rem;
}

.container_filter:last-child {
    margin-right:  0;
}

.icon_container_filter {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border-radius: 50px;
    background-color: #deebff;
}

.icon_container_filter i {
    font-size: 1.25rem;
}

.filter li:hover .icon_container_filter   {
    background: #0065FC;
}

.filter li:hover i {
    color: #deebff;
}

.filter li:hover {
    background: #deebff;
}

.filter li:hover a {
    color: #0065FC;
}

.filter a {
    margin: 0;
    font-weight: 700;
    padding: 0.625rem 1.2rem 0.625rem 0.8rem ;
    font-size: 1.1rem;
}

/* TEXTE INFORMATION */

.information_container {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 1.25rem;
    padding-left: 1rem;
}

.icon_container_i {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: 2px solid #e4e1e1;
    border-radius: 50px;
    margin-right: 1rem;
    font-size: 0.8rem;
}

/* GRID HEBERGEMENTS A MARSEILLE / LES PLUS POPULAIRES */

.grid_marseille_populaires {
    display: grid;
    grid-template-columns: 6.8fr 3.2fr;
    grid-gap: 2.2rem;
    margin-bottom: 4rem;
}

.grid_marseille_populaires h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0.5rem 0.2rem ;
}

/* LES PLUS POPULAIRES */

.popular {
    background-color: #f0f0f0;
    border: 2px #e4e1e1;
    border-radius: 25px;
    padding: 0 2.5rem;
}

.popular_title {
    padding-right: 0.2rem;
}

.popular_card {
    display:flex;
    background-color: #ffffff;
    border-radius: 1.875rem;
    border: 5px solid #ffffff;
    cursor: pointer;
    height: 9.5rem;
    margin-bottom: 2.2rem;
}

.popular img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.56rem 0 0 1.56rem;
}

.popular_a_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular_content  {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin-left: 25px;
}

.popular_content p {
    padding-top: 0.625rem;
    margin: 0;
}

.popular_card a {
    width: 40%;
}

.popular h3 {
    margin: 1rem 0 0 0
}

.popular .rate {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 10%;
}

/* SECTION HEBERGEMENTS */

.grid_marseille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 2rem;
}

.marseille_lodging {
    background: #f0f0f0;
    border-radius: 25px;
    padding: 0 2.5rem;
}

.marseille_lodging img {
    height: 8.75rem;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.marseille_lodging img {
    display: flex;
    justify-content: center;
}

.marseille_content {
    padding-top: 0.5rem;
    padding-bottom: 0.625rem;
    margin :0 0 0 1.19rem;
    color: #000;
}

.marseille_lodging h3 {
    margin: 0;
    color: #000;
}

.marseille_lodging p {
    margin: 0.25rem 0 0.5rem 0;
}

.lodging_card {
    border-radius: 30px;
    background-color: #ffffff;
    border: 5px solid #ffffff;
    cursor: pointer;
    margin-bottom: 2.2rem;
}

.marseille_lodging button {
    border: none;
    margin-top: 0.25rem;
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    background: none;
}

/* SECTION ACTIVITES A MARSEILLE */

.activities_space {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.75rem;
}

.activities h2 {
    margin-bottom: 1.5rem;
}

.activities_card img {
    border-radius: 25px 25px 0px 0px;
}

.activities_card {
    box-shadow: rgb(228, 228, 228) 0px 0px 8px;
    border-radius: 25px;
    width: 22.75%;;
}

.activities_card h3 {
    padding: 0 1.25rem;
}

.card_vp {
    display: flex;
    flex-direction: column;
}

.card_vp img {
    display: flex;
    height: 31.25rem;
    object-fit: cover;
}

.card_pomegues {
    display: flex;
    flex-direction: column;
}

.card_pomegues img {
    display: flex;
    height: 13.75rem;
    object-fit: cover;
}

.card_frioul {
    display: flex;
    flex-direction: column;;
    width: 100%;
}

.card_frioul img {
    display: flex;
    height: 9.375rem;
    object-fit: cover;
}

.fi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.75%;;
}

.fi .activities_card {
    width: auto;
}

.card_np {
    display: flex;
    flex-direction: column;
}

.card_np img {
    height: 12rem;
    object-fit: cover;
}

.np {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.75%;;
}

.np .activities_card {
    width: auto;
}

/* FOOTER */ 

footer {
    display: flex;
    flex-wrap: wrap;
    background: #e4e1e181;
    padding: 2.2rem 0 1.5rem 0;
}

.footer_container {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 3.8rem 0 11rem;
}

.footer_container:first-child {
    padding-left: 3rem;
}

.footer_container h3 {
    font-size: 1.3rem ;
    margin: 0;
}

.footer_container li {
    font-size: 1.125rem;
    padding: 0.5rem 0 0.5rem 0;
}

.footer_container ul {
    padding: 0;
}

/* MODIFICATIONS MINEURS POUR ECRAN DE MAXIMUM 1280PX */

@media screen and (max-width:1280px) {
    
    .grid_marseille_populaires {
        grid-template-columns: 1fr;
    }

    .footer_container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}   
    /* PASSAGE EN COLOMNE POUR ECRAN DE TABLETTE */

    @media screen and (max-width:1024px) {

    * {
        transition: none;
    }

    .padding {
        padding: 0 2rem;
    }

    /*FILTRES*/

    .title_filter {
        padding-left: 0;
    }

    /* HEBERGEMENTS A MARSEILLE */

    .grid_marseille {
        grid-template-columns: 1fr 1fr;
    }
    
    /* LES PLUS POPULAIRES */

    .popular_card {
        height: 10.625rem;
    }

    /*ACTIVITES*/

    .activities_space {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 1.5rem;
    }

    .activities_card {
        margin-bottom: 2.2rem;
        width: auto;
        height: 13.4rem;
    }

    .activities_card img {
        height: 9.8rem;
    }

    .fi {
        width: auto;
    }

    .np {
        width: auto;
    }

    /* MODIFICATIONS POUR ECRAN DE SMARTPHONE */

@media  screen and (max-width:767px) {

    /* PADDING SUR LES COTES */

    .padding {
        padding: 0;
    }

    .logo_container, .subscribe_nav, .trouvez, .enplein, .filter_bar, .activities  {
        padding: 0 1rem
    }

    /* BARRE DE NAVIGATION AU TOP */

    .logo_container, .subscribe_nav {
        padding-right: 0;
    }

    .logo_container {
        order: -2;
    }

    .logo_has a:nth-child(4) {
        padding: 0 1rem 0 0;
        display: flex;
        order: -1;
    }

    .logo_has a:nth-child(2) {
        padding: 25px 0 12px 0;
        display: flex;
        justify-content: center;
        border-top: none;
        border-bottom: 3px solid #0065FC ;
    }

    .logo_has a:nth-child(3) {
        padding:25px 0 12px 0;
        display: flex;
        justify-content: center;
        border-top: none;
        border-bottom: 3px solid #f2f2f2;
    }

    .logo_has a:nth-child(3):hover {
        border-bottom: 3px solid #0065FC;
    }
       
    .logo_has {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo_container {
        width: 40%;
    }

    .lodging_nav{
        width: 50%;
    }

    .activities_nav {
        width: 50%;
    }

    /* BARRE DE RECHERCHE */

    .searchbar {
        margin: 0 1rem;
        border: 0.5px solid #f2f2f2;
        border-radius: 1.1rem;
        max-width: 25rem;
    }
    
    .icon_container_map {
        width: 5%;
    }

    .search_form {
        width: 75%;
        border: none;
    }

    .search_button {
        width: 15%;
        border-radius: 1rem;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .search_text {
        display: none;
    }

    .search_logo {
        display: flex;
    }

    /* FILTRES */

    .filter_bar {
        display: block;
    }

    .filter a {
        font-size: 1rem;
        padding: 0.625rem 1rem 0.625rem 0.625rem;
    }

    .container_filter {
        margin-right: 1rem;
    }

    /* INFORMATION */

    .information_container {
        align-items: flex-start;
    }

    .icon_container_i {
        margin-top: 1rem;
    }

    /* GRID HEBEGEMENTS A MARSEILLE ET LES PLUS POPULAIRES */

    .grid_marseille_populaires {
        grid-gap: 0;
        margin-bottom: 0;
    }

    /* SECTION LES PLUS POPULAIRES */

    .popular {
        border-radius: 0;
        padding: 0 1rem;
    }

    .popular_card {
        height: 9.37rem;
        margin-bottom: 0.7rem;
    }

    .popular_card:last-child {
        margin-bottom: 2.4rem;
    }

    /* SECTION HEBERGEMENTS A MARSEILLE */

    .grid_marseille {
        grid-template-columns: 1fr;
        background: none;
    }

    .marseille_lodging {
        background: none;
        padding: 0 1rem ;
        order: 1;
    }

    .lodging_card {
        box-shadow: rgb(228, 228, 228) 0 0 0.5rem;
        margin-bottom: 1rem;
    }

    .lodging_card:last-child {
        margin-bottom: 1.5rem;
    }

    .marseille_lodging img {
        height: 7rem;
    }

    /* SECTION ACTIVITES */

    .activities_card {
        margin-bottom: 1.5rem;
        height: auto ;
    }

    .activities_card img {
        height:8.5rem
    }

    /* MODIFICATION MINEUR POUR PETIT SMARTPHONE */

    @media screen and (max-width:350px) {
        
        .search_form {
            padding-left: 0.75rem;
            font-size: 1rem;
        }

        